# Apuntes y archivos a ignorar por Git
/_apuntes/

# Environment variables
.env

# Composer
/vendor/
composer.lock

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Storage
/storage/documents/*
!/storage/documents/.gitkeep

# Logs
*.log
